        <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="education">
          <div class="my-auto">
            <h2 class="mb-5">Education</h2>
            {{ $data := index .Site.Data $.Site.Language.Lang }}
            {{ range $data.education }}
              <div class="resume-item d-flex flex-column flex-md-row mb-5">
                <div class="resume-content mr-auto">
                  <h3 class="mb-0">{{ .school | markdownify }}</h3>
                  <div class="subheading ">{{ .degree }}</div>
                  {{ if eq .mark "" }}
                    <div class="mb-3">
                  {{ else }}
                  <div>
                  {{ end }}
                    {{ .major | markdownify }}
                  </div>

                  {{ if ne .mark "" }}
                    <div class="mb-3">{{ .mark | markdownify }}</div>
                  {{ end }}
                  <p style="margin-bottom: 0">{{ .notes | markdownify }}</p>

                  {{ if ne .thesis "" }}
                    <div class="mt-2">
                      <div style="display: inline;" class="font-weight-bold">{{ if eq $.Site.Language.Lang "it" }}Tesi: {{ else if eq $.Site.Language.Lang "en" }}Thesis: {{ end }}</div>
                      <div style="display: inline;">{{ .thesis | markdownify }}</div>
                      <div>{{ .thesis_desc | markdownify }}</div>
                    </div>
                  {{ end }}
                </div>
                <div class="resume-date text-md-right">
                  <span class="text-primary">{{ .range }}</span>
                </div>
              </div>
              {{ end }}
           </div>
        </section>
