img[alt="box_plot_1"] {
    height: 250px;
    float: left;
}

img[alt="box_plot_2"] {
    height: 250px;
    margin-top: -25px;
}

img[alt="box_plot_2"] + br {
    display: none;
}

img[alt="box_plot_3"] {
    height: 250px;
    margin-top: -25px;
}

img[alt="box_plot_3"] + br {
    display: none;
}

img[alt="box_plot_4"] {
    height: 250px;
    margin-top: -25px;
}

li > ul {
    margin-bottom: 5px;
}

img[alt="box_plot_5"] {
    height: 250px;
    float: left;
}

img[alt="box_plot_6"] {
    height: 250px;
    margin-top: -1px;
}

img[alt="box_plot_6"] + br {
    display: none;
}

img[alt="box_plot_7"] {
    height: 250px;
    margin-top: -1px;
}
/*
img[alt="box_plot_7"] + br {
    display: none;
}
*/
img[alt="box_plot_8"] {
    height: 250px;
    /*margin-top: -1px;*/
    margin-top: 20px;
}