.navbar-dark .navbar-nav .nav-link {
	color: rgba(255,255,255,1);
}
  
.navbar-dark .navbar-nav .nav-link:hover {
	color: #000000;
}

.list-social-icons a:hover {
	color: #0062cc;
 }
 .list-icons .list-inline-item i:hover {
	color: #0062cc;
 }
 .bg-primary {
	/*background-color: #1abc9c !important;*/
	/*background-color: rgba(00, 123, 255, 0.9) !important;*/
	background-color: #3DAAFF !important;
 }
 
 .text-primary {
	color: #3DAAFF !important;
 }
 
 a {
	color: #0062cc;
 }

 h2 a {
	color: #2A37E8;
  }
 
 a:hover, a:focus, a:active {
	color: #0062cc;
 }
 
 img {
   max-width:80%;
 }

.dropdown {
	padding-top: 5%;
}
.my-auto {
	color: #4D5257;
}

section.blog img {
	display: block;
	margin: auto;
	height: 300px;
}

section#blogs img {
	height: 300px;
	display: none;
	margin: auto;
}

section#blog img {
	height: 300px;
	display: none;
	margin: auto;
}


code.language-php {
	text-shadow: none;
	color: #DD4A68;
}

code.language-php > .token.operator {
	background: none;
}

code.language-php > .token.package {
	color: #DD4A68;
}

#project-image {
	height: 200px;
	
}

#link_cookie_privacy {
	font-size: 13px;
}
#cookieBanner {
	/*display: block;*/
	display: none;
	position: fixed;
	width: 500px;
	height: auto;
	left: 40%;
	bottom: 5%;
	border: 1px solid;
	background-color: #FFFFFF;

	font-size: 15px;
	text-align: center;
	padding: 15px;
	color: #000000;
}
/*
@media only screen and (min-width: 850px) {

	#cookieBanner {
		left: 40%;
		width: 500px;
	}
}
*/
@media only screen and (max-width: 850px) {

        #cookieBanner {
                left: 15%;
		width: 500px;
        }
}

@media only screen and (max-width: 600px) {

        #cookieBanner {
                left: 0%;
		width: auto;
        }
}


#cookieBanner_ButtonsContainer {
	margin-top: 10px;
}
