
<div class="resume-item d-flex flex-column flex-md-row mb-5">
  <div class="publication-content mr-auto">
    <h3 class="mb-0"><a href="{{ .Permalink }}">{{ .Params.title }}</a></h3>
    <div>{{ .Summary | safeHTML }}</div>
    <p>{{ partial "techtags" . }}</p>
  </div>
  <div class="resume-date text-md-right">
    <span class="text-primary">{{ .Date.Format "January 2, 2006" }}</span>
    <img src="{{ .Params.image }}" style="max-width:250px;padding:5px;"/>
  </div>
</div>
