<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>{{ .Title }} | {{ .Site.Title }} </title>
  <meta property="og:title" content="{{ .Title }} | {{ .Site.Title }}" />
  <meta property="og:image" content="{{ if .IsHome }}{{ .Site.Params.profileImage | absURL }}{{else}}{{.Site.BaseURL}}{{ .Params.imgsrc }}{{ end }}" />
  <meta name="description" content="{{ if .IsHome }}{{ .Site.Params.description }}{{else}}{{ .Summary }}{{ end }}">
  <meta property="og:description" content="{{ if .IsHome }}{{ .Site.Params.description }}{{else}}{{ .Summary }}{{ end }}" />
  <meta name="author" content="{{ .Site.Params.firstName }} {{ .Site.Params.lastName }}">
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:title" content="{{ .Title }} | {{ .Site.Title }}">
  <meta property="twitter:description" content="{{ if .IsHome }}{{ .Site.Params.description }}{{else}}{{ .Summary }}{{ end }}" />
  <meta property="twitter:image" content="{{ if .IsHome }}{{ .Site.Params.profileImage | absURL }}{{else}}{{.Site.BaseURL}}{{ .Params.imgsrc }}{{ end }}" />
  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.min.css">
  <!-- Custom fonts for this template -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:100,200,300,400,500,600,700,800,900&display=swap">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&display=swap">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.1/css/all.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/devicons/1.8.0/css/devicons.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.min.css">
  <!-- Custom styles for this template -->
  <link rel="stylesheet" href='{{ "css/resume.css" | absURL }}'>
  <link rel="stylesheet" href='{{ "css/tweaks.css" | absURL }}'>
  <link rel="stylesheet" href='{{ "css/prism.css" | relURL }}'>
  <link rel="stylesheet" href='{{ "css/resume-override.css" | relURL }}'>
  {{ if (or (eq .Page.File.LogicalName "kdd.it.md") (eq .Page.File.LogicalName "kdd.en.md") ) }} <link rel="stylesheet" href='{{ "css/kdd.css" | relURL }}'> {{ end }}

  {{ hugo.Generator }}
  {{ block "headfiles" . }}
   <!-- pl;aceholder -->
  {{ end }}
</head>
<body id="page-top">
  {{ partial "nav.html" . }}
  <div class="container-fluid p-0">
    {{ block "main" . }}
      {{ .Content }}
    {{ end }}

    <span style="color: #999999; font-size: 60%;">© 2020 Nifty <a href="https://codepen.io/wbeeftink/pen/dIaDH">tech tag lists</a> from <a class="pen-owner-link" href="https://codepen.io/wbeeftink">Wouter Beeftink</a> </span>
    {{ with $.GitInfo }}{{ with $.Site.Params.gitCommitPrefix }} | <span style="color: #999999; font-size: 60%;">Page content generated from commit: <a href="{{ . }}/{{ $.GitInfo.AbbreviatedHash }}" title="log: {{ $.GitInfo.Subject }}">{{ $.GitInfo.AbbreviatedHash }}</a>{{ end }}{{end}}
    </div>
    {{ partial "cookieBanner" . }}
  <!-- Bootstrap core JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/js/bootstrap.bundle.min.js"></script>

  <!-- Plugin JavaScript -->
  <script async src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/3.0.1/js.cookie.min.js" integrity="sha512-wT7uPE7tOP6w4o28u1DN775jYjHQApdBnib5Pho4RB0Pgd9y7eSkAV1BTqQydupYDB9GBhTcQQzyNMPMV3cAew==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <!-- Custom scripts for this template -->
  <!--<script async src="/js/resume.js"></script>-->
  <script async src='{{ "js/resume.js" | absURL }}'></script>
  <script>
    var trackerID = {{ .Site.Params.google.analytics.trackerID }}
    var baseURL = {{ .Site.BaseURL }}
    $("section.blog img").attr("src", baseURL+$("section.blog img").attr("src") )
    $("section#blogs img").attr("src", baseURL+$("section#blogs img").attr("src") )
  </script>
  <script async src='{{ "js/resume_personal.js" | absURL }}'></script>
  <script src='{{ "js/prism.js" | relURL }}'></script>
  
  <script async src="https://www.googletagmanager.com/gtag/js?id={{ .Site.Params.google.analytics.trackerID }}"></script>
  <!--<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', '{{ .Site.Params.google.analytics.trackerID }}');
  </script>-->
  {{ if (and (eq .Site.IsServer false) (ne .Site.BaseURL "http://tecnomiky.servehttp.com/michele/") ) }}
  <script async src='{{ "js/cookie.js" | absURL }}'></script>
  {{ end }}
  
  {{ if (or (eq .Page.File.LogicalName "kdd.it.md") (eq .Page.File.LogicalName "kdd.en.md") ) }} <script async src='{{ "js/kdd.js" | absURL }}'></script> {{ end }}
  {{ block "footerfiles" . }}

  {{ end }}
</body>
</html>
