<section class="resume-section p-3 p-lg-5 d-flex flex-column" id="{{ .Scratch.Get "sectionId" }}">
  <div class="my-auto" id="projects-content">
    <div class=" pb-2 pt-3">
      <h2>{{ .Title }}</h2>
      {{ .Content | replaceRE "<p>" "<p class=\"lead\">" | safeHTML  }}      
    </div>
  
</section>
