<div id="cookieBanner">
	Uso cookies, anche di terze parti, per migliorare la tua visita. <br/>
    Cookie tecnici vengono usati per memorizzare la tua scelta. <br />
    Per accettarli clicca sul pulsante "accetto i cookies", per saperne di più e cambiare le impostazioni consulta la <a href="{{ "cookie_privacy" | relURL }}">Privacy & Cookies Policy</a> <br />
    <div id="cookieBanner_ButtonsContainer">
        <button type="button" class="btn btn-success" id="accept" onclick="cookieClick(this)">Accetto</button>
        <button type="button" class="btn btn-secondary" id="deny" onclick="cookieClick(this)">Non accetto</button>
    </div>
    
</div>
