
<h3 class="mb-3"><a href="{{ .Permalink }}">{{ .Title }}</a></h3>
<div class="resume-item d-flex flex-column flex-md-row mb-3">

  <div class="resume-content " style="width:200px;!important;">
    {{with  .Params.image }}
      <img src="{{ . | relURL }}" style="max-height:150px; max-width:150px; margin-right:5px;"/>
    {{ end }}
  </div>
  <div class="resume-date">
    <div>{{ .Summary | safeHTML }}</div>
    <p><a href="{{.Permalink}}">Read more..</a></p>
  </div>
</div>
<div>{{ partial "techtags" . }}</div>
