<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNav">
  <a class="navbar-brand js-scroll-trigger" href="#page-top">
    <span class="d-block d-lg-none">{{ .Site.Params.firstName }} {{ .Site.Params.lastName }}</span>
    <span class="d-none d-lg-block">
      <img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="{{ .Site.Params.profileImage | relURL }}" alt="">
    </span>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link js-scroll-trigger" href="{{ "#about" | relLangURL }}">About</a>
      </li>
      {{ if .Site.Params.showBio }}
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="{{ "#biography" | relLangURL }}">Biography</a>
          </li>
      {{ end }}
      {{ if .Site.Params.showSkills }}
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="{{ "#skills" | relLangURL }}">Skills</a>
          </li>
      {{ end }}
      {{ if .Site.Params.showEducation }}
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="{{ "#education" | relLangURL }}">Education</a>
          </li>
      {{ end }}
      {{ if .Site.Params.showExperience }}
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="{{ "#experience" | relLangURL }}">Experience</a>
          </li>
      {{ end }}
      {{ if .Site.Params.showProjects }}
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="{{ "#projects" | relLangURL }}">Projects</a>
          </li>
      {{ end }}
      {{ if .Site.Params.showOpenSource }}
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="{{ "#open" | relLangURL }}">Open Source</a>
          </li>
      {{ end }}
      {{ if .Site.Params.showPublications }}
          <li class="nav-item">
            <!--<a class="nav-link js-scroll-trigger" href="/#{{ default "Publications" .Site.Params.publicationsAlternateName | relLangURL }}">{{ default "Publications" .Site.Params.publicationsAlternateName }}</a>-->
            <a class="nav-link js-scroll-trigger" href="{{ "#Publications" | relLangURL }}">{{ default "Publications" .Site.Params.publicationsAlternateName }}</a>
          </li>
      {{ end }}
      {{ if .Site.Params.showBlog }}
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="{{ "#blog" | relLangURL }}">Blog</a>
          </li>
      {{ end }}
      {{ if .Site.IsMultiLingual }}
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ .Site.Language.LanguageName }}</button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          {{ range .Site.Languages }}
            <a class="dropdown-item" href='{{ print "/" .Lang  }}'>{{ .LanguageName }}</a>
          {{ end }}
        </div>
      </div>
      {{ end }}
    </ul>
  </div>
  <div>
    <a href="{{ "cookie_privacy" | relURL }}" id="link_cookie_privacy">Cookie e Privacy</a>
  </div>
  
</nav>
