<section class="resume-section p-3 p-lg-5 d-flex flex-column" id="{{ .Scratch.Get "sectionId" }}">
  <div class="my-auto" id="projects-content">
    <div class=" pb-2 pt-3">
      <h2><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
      {{ .Content | replaceRE "<p>" "<p class=\"lead\">" | safeHTML  }}      
    </div>
  
    {{ $featuredPages := where .Pages "Params.featured" true }}
    {{ range $featuredPages }}
      {{ if eq .Section "projects" }}
        {{ partial (printf "%s%s" "creations" "Summary") . }}
      {{ else }}
        {{ partial (printf "%s%s" .Section "Summary") . }}
      {{ end }}
    {{ end }}
  </div>
  {{ if gt .Pages $featuredPages }}
    <div class="my-auto">
      <h3>Wait! There's more..</h3>
      <p>See <a href="{{ .Permalink }}">all {{ .Title | pluralize }}</a> for more examples!</p>
    </div>
  {{ end }}
</section>
